@import "~swiper/css/swiper.min.css";

.landing {
  width: 100%;
  padding: 40px;
}

.landing__section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.landing__start {
  display: flex;
  align-items: center;

  h2 {
    font-size: 46px;
    line-height: 46px;
    margin-bottom: 40px;
  }

  ul {
    li {
      display: flex;
      align-items: center;
      margin-right: -10px;
      margin-left: -10px;

      &:nth-child(1) svg {
        color: #F94300;
      }

      &:nth-child(2) svg {
        color: #5FB91C;
      }

      &:nth-child(3) svg {
        color: #FD9B00;
      }
    }

    svg {
      margin-right: 10px;
      margin-left: 10px;
    }
  }
}

.landing__question {
  width: 50%;
  text-align: right;

  ul {
    li {
      flex-direction: row-reverse;
    }
  }
}

.landing__signal {
  width: 250px;
  color: var(--common-accentColor-primary);
  flex-shrink: 0;

  svg {
    display: block;
    margin: auto;
  }
}

.landing__answer {
  width: 50%;
}

.landing__content {
  text-align: center;
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;

  h2 {
    font-size: 40px;
    line-height: 52px;
    margin-bottom: 20px;
  }
}

.landing__media {
  margin-top: 40px;

  img {
    margin-left: auto;
    margin-right: auto;
  }
}

.landing__action {
  margin-top: 40px;
  display: flex;
  justify-content: center;

  a {
    display: block;
    color: #fff;
    border-radius: 3px;
    padding: 12px 22px;
    background-color: #95CA52;
    width: 100%;
    max-width: 270px;
    text-align: center;
    font-weight: bold;

    &:hover {
      background-color: darken(#95CA52, 10%);
    }
  }
}

.landing__slider {
  --swiper-theme-color: var(--common-accentColor-primary);
  --swiper-navigation-size: 24px;

  margin-top: 10px;
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
}

.landing__example {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;

  img {
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
  }
}

.landing__sign {
  width: 50%;
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.landing__nav {
  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: $width;
    transform: translate3d(-50%, -50%, 0);
    content: "";
  }

  &--prev {
    left: 0;

    &:hover {
      --swiper-theme-color: var(--common-accentColor-secondary);
    }
  }

  &--next {
    right: 0;

    &:hover {
      --swiper-theme-color: var(--common-accentColor-secondary);
    }
  }
}
