<main class="main">
  <h1 class="visually-hidden">
    Опросы
  </h1>

  <div class="landing">
    <div class="landing__section">
      <div class="landing__start">
        <div class="landing__question">
          <h2>
            Хотите знать<br>
            мнение клиентов<br>
            о вашем бизнесе
          </h2>

          <ul>
            <li>
              <svg width="10" height="12">
                <use xlink:href="/media/icon-marker.svg#marker"></use>
              </svg>

              Получить оценку вашей деятельности
            </li>
            <li>
              <svg width="10" height="12">
                <use xlink:href="/media/icon-marker.svg#marker"></use>
              </svg>

              Узнать мнение о нововведениях
            </li>
            <li>
              <svg width="10" height="12">
                <use xlink:href="/media/icon-marker.svg#marker"></use>
              </svg>

              Получить комментарии о работе сотрудников
            </li>
          </ul>
        </div>

        <div class="landing__signal">
          <svg width="126" height="238">
            <use xlink:href="/media/question.svg#question"></use>
          </svg>
        </div>

        <div class="landing__answer">
          <h2>
            Организуйте<br>
            собственный опрос<br>
            потребителей
          </h2>

          <ul>
            <li>
              <svg width="10" height="12">
                <use xlink:href="/media/icon-marker.svg#marker"></use>
              </svg>

              Используйте разные типы вопросов
            </li>
            <li>
              <svg width="10" height="12">
                <use xlink:href="/media/icon-marker.svg#marker"></use>
              </svg>

              Настройте индивидуальный внешний вид
            </li>
            <li>
              <svg width="10" height="12">
                <use xlink:href="/media/icon-marker.svg#marker"></use>
              </svg>

              Анализируйте подробную статистику
            </li>
          </ul>
        </div>
      </div>

      <div class="landing__media">
        <img src="/media/interface.png" alt="Интерфейс" width="568" height="314">
      </div>

      <div class="landing__action">
        <a href="#">Попробовать</a>
      </div>
    </div>

    <div class="landing__section">
      <div class="landing__content">
        <h2>Универсальный инструмент</h2>

        <p>Сомнение раскладывает на элементы здравый смысл. Философия ментально подрывает естественный принцип восприятия. Априори, заблуждение создает смысл жизни. Идеи гедонизма занимают центральное место в утилитаризме Милля и Бентама, однако язык образов неоднозначен. Отношение к современности представляет собой язык образов, не учитывая мнения авторитетов.</p>
      </div>

      <div class="landing__slider">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="landing__example">
                <img src="/media/tool.png" alt="Инструмент" width="860" height="671">
              </div>

              <div class="landing__sign">
                <strong>Флаг Сохранять get параметры открываемых страниц</strong> — при отметке будут сохранятся и доступны в просмотре параметры открытия страницы
              </div>
            </div>

            <div class="swiper-slide">
              <div class="landing__example">
                <img src="/media/tool.png" alt="Инструмент" width="860" height="671">
              </div>

              <div class="landing__sign">
                <strong>Флаг Сохранять get параметры открываемых страниц</strong> — при отметке будут сохранятся и доступны в просмотре параметры открытия страницы
              </div>
            </div>

            <div class="swiper-slide">
              <div class="landing__example">
                <img src="/media/tool.png" alt="Инструмент" width="860" height="671">
              </div>

              <div class="landing__sign">
                <strong>Флаг Сохранять get параметры открываемых страниц</strong> — при отметке будут сохранятся и доступны в просмотре параметры открытия страницы
              </div>
            </div>
          </div>

          <div class="swiper-button-prev  landing__nav  landing__nav--prev"></div>

          <div class="swiper-button-next  landing__nav  landing__nav--next"></div>
        </div>
      </div>
    </div>

    <div class="landing__section">
      <div class="landing__content">
        <h2>Расширенные настройки</h2>

        <p>Сомнение раскладывает на элементы здравый смысл. Философия ментально подрывает естественный принцип восприятия. Априори, заблуждение создает смысл жизни. Идеи гедонизма занимают центральное место в утилитаризме Милля и Бентама, однако язык образов неоднозначен. Отношение к современности представляет собой язык образов, не учитывая мнения авторитетов.</p>
      </div>

      <div class="landing__slider">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="landing__example">
                <img src="/media/settings.png" alt="Настройки" width="860" height="671">
              </div>

              <div class="landing__sign">
                <strong>Флаг Сохранять get параметры открываемых страниц</strong> — при отметке будут сохранятся и доступны в просмотре параметры открытия страницы
              </div>
            </div>

            <div class="swiper-slide">
              <div class="landing__example">
                <img src="/media/settings.png" alt="Настройки" width="860" height="671">
              </div>

              <div class="landing__sign">
                <strong>Флаг Сохранять get параметры открываемых страниц</strong> — при отметке будут сохранятся и доступны в просмотре параметры открытия страницы
              </div>
            </div>

            <div class="swiper-slide">
              <div class="landing__example">
                <img src="/media/settings.png" alt="Настройки" width="860" height="671">
              </div>

              <div class="landing__sign">
                <strong>Флаг Сохранять get параметры открываемых страниц</strong> — при отметке будут сохранятся и доступны в просмотре параметры открытия страницы
              </div>
            </div>
          </div>

          <div class="swiper-button-prev  landing__nav  landing__nav--prev"></div>

          <div class="swiper-button-next  landing__nav  landing__nav--next"></div>
        </div>
      </div>
    </div>

    <div class="landing__section">
      <div class="landing__content">
        <h2>Наглядная статистика</h2>

        <p>Сомнение раскладывает на элементы здравый смысл. Философия ментально подрывает естественный принцип восприятия. Априори, заблуждение создает смысл жизни. Идеи гедонизма занимают центральное место в утилитаризме Милля и Бентама, однако язык образов неоднозначен. Отношение к современности представляет собой язык образов, не учитывая мнения авторитетов.</p>
      </div>

      <div class="landing__slider">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="landing__example">
                <img src="/media/statistics.png" alt="Статистика" width="860" height="671">
              </div>
            </div>

            <div class="swiper-slide">
              <div class="landing__example">
                <img src="/media/statistics.png" alt="Статистика" width="860" height="671">
              </div>
            </div>

            <div class="swiper-slide">
              <div class="landing__example">
                <img src="/media/statistics.png" alt="Статистика" width="860" height="671">
              </div>
            </div>
          </div>

          <div class="swiper-button-prev  landing__nav  landing__nav--prev"></div>

          <div class="swiper-button-next  landing__nav  landing__nav--next"></div>
        </div>
      </div>
    </div>

    <div class="landing__section">
      <div class="landing__content">
        <h2>На всех устройствах</h2>

        <p>Сомнение раскладывает на элементы здравый смысл. Философия ментально подрывает естественный принцип восприятия. Априори, заблуждение создает смысл жизни. Идеи гедонизма занимают центральное место в утилитаризме Милля и Бентама, однако язык образов неоднозначен. Отношение к современности представляет собой язык образов, не учитывая мнения авторитетов.</p>
      </div>

      <div class="landing__media">
        <img src="/media/devices.png" alt="Устройства" width="760" height="468">
      </div>

      <div class="landing__action">
        <a href="#">Попробовать</a>
      </div>
    </div>
  </div>
</main>
