.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px 0;
  font-weight: bold;

  a {
    color: inherit;

    &:hover {
      color: var(--common-accentColor-primary);
    }
  }
}

.header__menu {
  display: flex;
  align-items: center;

  li {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.header__login {
  a {
    display: block;
    border: 2px solid var(--common-accentColor-primary);
    color: var(--common-accentColor-primary);
    border-radius: 3px;
    padding: 12px 22px;

    &:hover {
      color: var(--common-accentColor-secondary);
      border-color: var(--common-accentColor-secondary);
    }
  }
}
