:root {
  --common-baseColor-primary: #000;
  --common-baseColor-secondary: #929292;

  --common-accentColor-primary: #5D9CEC;
  --common-accentColor-secondary: #1e66c0;

  --common-backgroundColor-base: #F5F7FA;
}

@font-face {
  font-family: "PT Sans";
  src: url("/fonts/PTSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("/fonts/PTSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

html {
  box-sizing: border-box;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  line-height: 22px;
  background-color: var(--common-backgroundColor-base);
  background-image: url("/media/bg-body.png");
  background-size: 100% auto;
  background-position: 50% 0;
  background-repeat: no-repeat;
  color: var(--common-baseColor-primary);
  font-family: "PT Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", NotoColorEmoji, "Segoe UI Emoji", "Segoe UI Symbol";
  overflow-y: scroll;
  min-width: 1200px;
  font-display: swap;
  margin: 0;
}

h1 {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  outline: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  text-transform: inherit;
  color: inherit;
  text-align: start;
  padding: 0;
  border: none;
  background-color: transparent;
  margin: 0;

  &[disabled] {
    cursor: initial;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

svg,
use {
  transform: translateZ(0);
  fill: currentColor;
  stroke: currentColor;
  display: block;
}

a {
  outline: none;
  text-decoration: none;
}
