<!doctype html>

<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Dadanet</title>
    <meta name="viewport" content="width=1200, initial-scale=1, minimum-scale=1, shrink-to-fit=no, viewport-fit=cover">
  </head>

  <body>
    <div class="page">
      <header class="header">
        <div class="header__logo">
          <a href="#" aria-label="Webway">
            <svg width="190" height="34">
              <use xlink:href="/media/logo.svg#logo"></use>
            </svg>
          </a>
        </div>

        <nav class="header__nav">
          <ul class="header__menu">
            <li>
              <a href="#">
                Примеры
              </a>
            </li>
            <li>
              <a href="#">
                Стоимость
              </a>
            </li>
            <li>
              <a href="#">
                Контакты
              </a>
            </li>
            <li class="header__login">
              <a href="#">
                Войти
              </a>
            </li>
          </ul>
        </nav>
      </header>

      {{content}}

      <footer class="footer">
        <div class="footer__copyright">
          © 2019 – Webway.
        </div>
      </footer>
    </div>
  </body>
</html>
